body{
    text-align: center;
    background-color: rgb(255, 208, 158);
}
.btn1{
    font-size: 60px;
    padding: 25px 40px;
    background: rgb(163, 136, 106);
    border-color: rgb(245, 116, 29);
    border-width: 5px;
    border-radius: 30px;
}
.btn2{
    font-size: 60px;
    padding: 25px 40px;
    background: rgb(163, 136, 106);
    border-color: rgb(245, 116, 29);
    border-width: 5px;
    margin-top: 10px;
    border-radius: 30px;
}
.btn3{
    font-size: 60px;
    padding: 25px 40px;
    background: rgb(163, 136, 106);
    border-color: rgb(245, 116, 29);
    border-width: 5px;
    margin-top: 10px;
    border-radius: 30px;
}
.btn4{
    font-size: 50px;
    padding: 25px 40px;
    background: rgb(163, 136, 106);
    border-color: rgb(245, 116, 29);
    border-width: 5px;
    margin-top: 10px;
    border-radius: 30px;
}

a{
    text-decoration: none;
    cursor:pointer;
}
h1{
    color: chocolate;
    font-size: 50px;
}
